.benefits {
    display: flex;
}

.benefits__item {
    flex: 1; // все элепенты занимаются равное пространство
    margin: 0 3%;
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-left: 0;
    }
}