.features {
    display: flex;
}

.features__item {
    margin-right: rem(30px);
    display: flex;
    align-items: center;
    width: rem(142px);
    &:last-child {
        margin-right: 0;
    }
}

.feature__icon-img {
    width: rem(41px);
    height: rem(41px);
}

.feature__icon {
    margin-right: rem(11px);
}

.feature__text {
    font-size: rem(16px);
    font-weight: 700;
    min-width: rem(85px);
}